a:link {
  text-decoration: none;
  color: #3466a8;
}

a:visited {
  text-decoration: none;
  color: #3466a8;
}

header {
  height: 90vh;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10rem;
}

.headerContainer a {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #293241;
  text-decoration: underline;
}

.headerText {
  display: inline-block;
  padding: 2.5rem;
  font-size: 1.75rem;
  animation-name: textColor;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.headerTextWrapper {
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #fff;
  background-color: #293241;
  border: 0.5rem solid #293241;
  border-radius: 0.5rem;
  text-decoration: none;
  animation-name: bgColor;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes bgColor {
  0% {
    background-color: #293241;
  }
  100.0% {
    background-color: #ffffff00;
  }
}

@keyframes textColor {
  0% {
    color: white;
  }
  100% {
    color: #293241;
  }
}

#floatBarWrap {
  width: 100px;
}

.floatingBar {
  position: absolute;
  z-index: -1;
  width: 180rem;
  height: 30rem;
  top: 30rem;
  left: -55rem;
  opacity: 0.85;
  background-color: #3d5a80;
  animation: 25s linear 0s infinite normal none running floatBar;
}

@keyframes floatBar {
  0% {
    transform: rotate(60deg);
  }

  100% {
    transform: rotate(240deg);
  }
}
