html {
  font-family: sans-serif;
  background-color: rgb(240, 240, 240);
}

header {
  height: 90vh;
}

.headerContainer {
  margin-top: 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerText {
  display: inline-block;
  font-size: 1.75rem;
  border: 0.5rem solid black;
  padding: 2.5rem;
  margin-bottom: 1rem;
}

.headerLink {
  font-size: 1.5rem;
  color: inherit;
  text-decoration: underline;
  display: inline-block;
}

#navbar {
  overflow: hidden;
  background-color: rgb(51, 51, 51);
  text-align: center;
  z-index: 10;
}

#navbar a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

#navbar a:hover {
  color: #333;
  background-color: #f2f2f2;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 15rem 0px 10rem;
  border-bottom: 4rem solid darkblue;
}

#aboutTitle {
  position: absolute;
  font-weight: bold;
  top: 10rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

#aboutImage {
  display: block;
  height: 200px;
  width: 200px;
  background-color: rgb(255, 173, 173);
  text-align: center;
  margin: 0 3rem 0 0;
}

#aboutText {
  width: 50%;
  color: rgb(25, 25, 25);
  text-align: left;
  margin-left: 4rem;
  margin-right: 2rem;
  letter-spacing: 0.6px;
  text-align: left;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.5rem;
}

#projects {
  padding: 8rem 0px 8rem;
}

#projectsTitle {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

#projectsGithubLinkText {
  padding: 1rem;
  font-size: 1.15rem;
  text-align: center;
  margin: 1rem;
  background-color: rgb(255, 255, 255);
}

#blank {
  height: 1000px;
}
